@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap);



body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.4rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-4 {
  font-family: 'chs_boot';
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-7 {
  font-family: 'Lato-Regular';
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #29ff00 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #ff8f00 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #29ff00 !important;
  border-color: #29ff00 !important;
  color: #000000 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #000000 !important;
  background-color: #1db300 !important;
  border-color: #1db300 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #000000 !important;
  background-color: #1db300 !important;
  border-color: #1db300 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff8f00 !important;
  border-color: #ff8f00 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #b36400 !important;
  border-color: #b36400 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #b36400 !important;
  border-color: #b36400 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #199900;
  color: #199900;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000;
  background-color: #29ff00;
  border-color: #29ff00;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #000000 !important;
  background-color: #29ff00 !important;
  border-color: #29ff00 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #995600;
  color: #995600;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #ff8f00;
  border-color: #ff8f00;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff8f00 !important;
  border-color: #ff8f00 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #29ff00 !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #ff8f00 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #199900 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #995600 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #ff8f00;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #29ff00;
  border-color: #29ff00;
  color: #041900;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #29ff00;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d4ffcc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffe9cc;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Lato-Regular';
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #29ff00;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #29ff00;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #29ff00;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #29ff00;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #29ff00;
  border-bottom-color: #29ff00;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #29ff00 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2329ff00' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-sbJ3uqHmih {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sbJ3uqHmih .mbr-section-subtitle {
  color: #767676;
}
.cid-sbJ3kZGj9I {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-sbJ3kZGj9I .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-sbJ3kZGj9I .video-block {
    width: 100% !important;
  }
}
.cid-s9yoymNgNq {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #001048;
}
.cid-s9yoymNgNq .mbr-section-subtitle {
  color: #ffffff;
}
.cid-s9yoymNgNq H2 {
  color: #29ff00;
}
.cid-s9yq2HWOFJ {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s9yq2HWOFJ .mbr-section-subtitle {
  color: #232323;
}
.cid-s9yqopsCTA {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s9yqopsCTA .mbr-section-subtitle {
  color: #232323;
}
.cid-s9yqopsCTA H2 {
  color: #ff8f00;
}
.cid-s9yqQFH5Yb {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s9yqQFH5Yb .mbr-section-subtitle {
  color: #232323;
}
.cid-s9yqQFH5Yb H2 {
  color: #ff8f00;
}
.cid-s9yrBuzF7x {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s9yrBuzF7x .mbr-section-subtitle {
  color: #232323;
}
.cid-s9yrBuzF7x H2 {
  color: #29ff00;
}
.cid-s9yJmvmZGK {
  padding-top: 30px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-s9yJmvmZGK P {
  color: #767676;
}
.cid-s9yKzMokVc {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-siBfvn8AOp {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #fac24d;
}
.cid-siBfvn8AOp .mbr-section-subtitle {
  color: #0907a3;
}
.cid-siBfvn8AOp H2 {
  color: #25006b;
}
.cid-sdeOhNxQWq {
  background: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
}
.cid-sdeOhNxQWq .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-sdeOhNxQWq .video-block {
    width: 100% !important;
  }
}
.cid-scX4RLlFOM {
  background: #000000;
  padding-top: 30px;
  padding-bottom: 60px;
}
.cid-scX4RLlFOM .image-block {
  margin: auto;
}
.cid-scX4RLlFOM figcaption {
  position: relative;
}
.cid-scX4RLlFOM figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scX4RLlFOM .image-block {
    width: 100% !important;
  }
}
.cid-siBgsDcX5R {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-siBgsDcX5R .mbr-section-subtitle {
  color: #232323;
}
.cid-scX494bldW {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-scX494bldW .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-scX494bldW .section-text {
  padding: 2rem 0;
  text-align: left;
  color: #25006b;
}
.cid-scX494bldW .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-scX494bldW .inner-container {
    width: 100% !important;
  }
}
.cid-scX494bldW .section-text DIV {
  text-align: left;
}
.cid-sdevkPbh5N {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sdevkPbh5N .mbr-section-subtitle {
  color: #767676;
}
.cid-sdevkPbh5N H2 {
  color: #232323;
}
.cid-s9ubO5Zc5A {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-s9ubO5Zc5A .mbr-section-subtitle {
  color: #001048;
}
.cid-s9ubO5Zc5A .media-container-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s9ubO5Zc5A .mbr-text {
  color: #001c3c;
}
.cid-s9ubO5Zc5A .mbr-author-desc {
  display: block;
  color: #767676;
}
.cid-s9ubO5Zc5A .mbr-author-name {
  color: #767676;
}
.cid-s9ubO5Zc5A .mbr-testimonial .panel-item {
  background-color: #ffffff;
}
.cid-s9ubO5Zc5A .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2.4rem 2.4rem 0 2.4rem;
}
.cid-s9ubO5Zc5A .mbr-testimonial .card-block .testimonial-photo {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
}
.cid-s9ubO5Zc5A .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-s9ubO5Zc5A .mbr-testimonial .card-footer {
  padding-bottom: 2.4rem;
  border-top: 0;
  padding-top: 1rem;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 300px) {
  .cid-s9ubO5Zc5A .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-s9ubO5Zc5A H2 {
  color: #001c3c;
}
.cid-sdeup7hP5I {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #25006b;
}
.cid-sdeup7hP5I .mbr-section-subtitle {
  color: #767676;
}
.cid-sdeup7hP5I H2 {
  color: #ffffff;
}
.cid-scX4bycYwW {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 30px;
}
.cid-scX4bycYwW .image-block {
  margin: auto;
}
.cid-scX4bycYwW figcaption {
  position: relative;
}
.cid-scX4bycYwW figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scX4bycYwW .image-block {
    width: 100% !important;
  }
}
.cid-sbeS2zsXYp {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #25006b;
}
.cid-sbeS2zsXYp .mbr-section-subtitle {
  color: #767676;
}
.cid-sbeS2zsXYp H2 {
  color: #ffffff;
}
.cid-siBeF5kCsO {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-siBeF5kCsO .card-img {
  background-color: #fff;
}
.cid-siBeF5kCsO .card {
  align-self: stretch;
}
.cid-siBeF5kCsO .card-box {
  padding: 2rem;
}
.cid-siBeF5kCsO h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-siBeF5kCsO p {
  text-align: left;
}
.cid-siBeF5kCsO .mbr-text {
  color: #767676;
  text-align: center;
}
.cid-siBeF5kCsO .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-siBeF5kCsO .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-siBeF5kCsO .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    -webkit-flex: 0 0 20%;
  }
}
.cid-siBeMa78XY {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-siBeMa78XY .card-img {
  background-color: #fff;
}
.cid-siBeMa78XY .card {
  align-self: stretch;
}
.cid-siBeMa78XY .card-box {
  padding: 2rem;
  background-color: #ffffff;
}
.cid-siBeMa78XY h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-siBeMa78XY p {
  text-align: left;
}
.cid-siBeMa78XY .mbr-text {
  color: #767676;
  text-align: center;
}
.cid-siBeMa78XY .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-siBeMa78XY .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-siBeMa78XY .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    -webkit-flex: 0 0 20%;
  }
}
.cid-scX5Hg08Hi {
  background: #ffffff;
  padding-top: 45px;
  padding-bottom: 30px;
}
.cid-scX5Hg08Hi .image-block {
  margin: auto;
}
.cid-scX5Hg08Hi figcaption {
  position: relative;
}
.cid-scX5Hg08Hi figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scX5Hg08Hi .image-block {
    width: 100% !important;
  }
}
.cid-sbeHNAaTK3 {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #fac24d;
}
.cid-sbeHNAaTK3 .mbr-section-subtitle {
  color: #232323;
}
.cid-sbeHNAaTK3 H2 {
  color: #0e0f2e;
}
.cid-s9ubHOYEby {
  padding-top: 60px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
}
@media (min-width: 992px) {
  .cid-s9ubHOYEby .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-s9ubHOYEby .mbr-figure {
    padding-top: 3rem;
  }
}
.cid-s9ubHOYEby .mbr-section-title {
  color: #001c3c;
}
.cid-s9ubHOYEby .mbr-text,
.cid-s9ubHOYEby .mbr-section-btn {
  color: #232323;
}
.cid-sa24M6XNKr {
  padding-top: 60px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
}
@media (min-width: 992px) {
  .cid-sa24M6XNKr .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sa24M6XNKr .mbr-figure {
    padding-top: 3rem;
  }
}
.cid-sa24M6XNKr .mbr-section-title {
  color: #001c3c;
}
.cid-sa24M6XNKr .mbr-text,
.cid-sa24M6XNKr .mbr-section-btn {
  color: #232323;
}
.cid-sa263E6ICq {
  padding-top: 60px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
}
@media (min-width: 992px) {
  .cid-sa263E6ICq .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sa263E6ICq .mbr-figure {
    padding-top: 3rem;
  }
}
.cid-sa263E6ICq .mbr-section-title {
  color: #001c3c;
}
.cid-sa263E6ICq .mbr-text,
.cid-sa263E6ICq .mbr-section-btn {
  color: #232323;
}
.cid-scXjTJuaP4 {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.cid-scXjTJuaP4 .image-block {
  margin: auto;
}
.cid-scXjTJuaP4 figcaption {
  position: relative;
}
.cid-scXjTJuaP4 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scXjTJuaP4 .image-block {
    width: 100% !important;
  }
}
.cid-scXjrl7vPK {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #fac24d;
}
.cid-scXjrl7vPK .mbr-section-subtitle {
  color: #000000;
}
.cid-scXiLWJdT1 {
  background: #ffffff;
}
.cid-scXiLWJdT1 .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-scXiLWJdT1 figcaption {
  position: relative;
}
.cid-scXiLWJdT1 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scXiLWJdT1 .image-block {
    width: 100% !important;
  }
}
.cid-sbDJoFgOKX {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-sbDJoFgOKX .image-block {
  margin: auto;
}
.cid-sbDJoFgOKX figcaption {
  position: relative;
}
.cid-sbDJoFgOKX figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sbDJoFgOKX .image-block {
    width: 100% !important;
  }
}
.cid-sbEGpWpCJm {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sbEGpWpCJm h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sbEGpWpCJm p {
  color: #767676;
  text-align: left;
}
.cid-sbEGpWpCJm .card-box {
  padding-top: 2rem;
}
.cid-sbEGpWpCJm .card-wrapper {
  height: 100%;
}
.cid-scXkUXXjTv {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 45px;
}
.cid-scXkUXXjTv .image-block {
  margin: auto;
}
.cid-scXkUXXjTv figcaption {
  position: relative;
}
.cid-scXkUXXjTv figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scXkUXXjTv .image-block {
    width: 100% !important;
  }
}
.cid-scXmOaUMTL {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 30px;
}
.cid-scXmOaUMTL .image-block {
  margin: auto;
}
.cid-scXmOaUMTL figcaption {
  position: relative;
}
.cid-scXmOaUMTL figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scXmOaUMTL .image-block {
    width: 100% !important;
  }
}
.cid-scXlKArrgx {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-scXlKArrgx .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-scXlKArrgx .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-scXlKArrgx .mbr-text {
  color: #000000;
}
.cid-s9ubVMhYwF {
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  background-color: #fac24d;
}
.cid-s9ubVMhYwF p {
  color: #767676;
}
.cid-s9ubVMhYwF .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-s9ubVMhYwF .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-s9ubVMhYwF .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-s9ubVMhYwF .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-s9ubVMhYwF .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-s9ubVMhYwF .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-s9ubVMhYwF H2 {
  color: #ffffff;
}
.cid-s9ubVMhYwF H4 {
  color: #001c3c;
}
.cid-s9ubVMhYwF .panel-text {
  color: #232323;
}
.cid-scXjWRR603 {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 30px;
}
.cid-scXjWRR603 .image-block {
  margin: auto;
}
.cid-scXjWRR603 figcaption {
  position: relative;
}
.cid-scXjWRR603 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scXjWRR603 .image-block {
    width: 100% !important;
  }
}
.cid-sO7V0rQ53e {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sO7V0rQ53e .card-box {
  padding: 0 2rem;
}
.cid-sO7V0rQ53e .mbr-section-btn {
  padding-top: 1rem;
}
.cid-sO7V0rQ53e .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-sO7V0rQ53e h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-sO7V0rQ53e p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-sO7V0rQ53e .mbr-text {
  color: #767676;
}
.cid-sO7V0rQ53e .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sO7V0rQ53e .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-sd2uKloI1Y {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #25006b;
}
@media (max-width: 767px) {
  .cid-sd2uKloI1Y .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-sd2uKloI1Y .media-wrap .mbr-iconfont-logo {
  font-size: 7rem;
  color: #f36;
}
.cid-sd2uKloI1Y .media-wrap img {
  height: 6rem;
}
.cid-sd2uKloI1Y .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-sd2uKloI1Y .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-sd2uKloI1Y .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-sd2uKloI1Y .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-sd2uKloI1Y .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-sd2uKloI1Y .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-sd2uKloI1Y .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-sd2uKloI1Y .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sd2uKloI1Y .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sd2uKloI1Y .links {
  color: #ffffff;
}
.cid-sd2uKloI1Y .copyright > p {
  color: #ffffff;
}
.cid-s9ysStCBps {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s9ysStCBps .mbr-section-subtitle {
  color: #232323;
}
.cid-s9yGELBwJs {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-s9yGELBwJs .mbr-section-subtitle {
  color: #001048;
}
.cid-s9yGELBwJs H2 {
  color: #ff8f00;
}
.cid-s9ysSBSWHJ {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s9ysSBSWHJ .mbr-section-subtitle {
  color: #232323;
}
.cid-s9ysSBSWHJ H2 {
  color: #ff8f00;
}
.cid-s9ysSFLiB5 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s9ysSFLiB5 .mbr-section-subtitle {
  color: #232323;
}
.cid-s9ysSFLiB5 H2 {
  color: #29ff00;
}
.cid-sbDMKbDATU {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sbDMKbDATU h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sbDMKbDATU p {
  color: #767676;
  text-align: left;
}
.cid-sbDMKbDATU .card-box {
  padding-top: 2rem;
}
.cid-sbDMKbDATU .card-wrapper {
  height: 100%;
}
.cid-s9yIbNm9Yc {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-s9yIbNm9Yc P {
  color: #767676;
}
.cid-s9ysSJwBTv {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #001c3c;
}
@media (max-width: 767px) {
  .cid-s9ysSJwBTv .content {
    text-align: center;
  }
  .cid-s9ysSJwBTv .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-s9ysSJwBTv .img-logo img {
  height: 6rem;
}
.cid-s9ysSJwBTv .form-group,
.cid-s9ysSJwBTv .input-group-btn {
  padding: 0;
}
.cid-s9ysSJwBTv .form-control {
  font-size: .75rem;
  text-align: center;
  min-width: 150px;
}
.cid-s9ysSJwBTv .input-group-btn .btn {
  padding: .75rem 1.5625rem !important;
  margin-left: .625rem;
  text-transform: none;
  color: #fff;
  text-align: center;
}
.cid-s9ysSJwBTv .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s9ysSJwBTv .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-s9ysSJwBTv .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-s9ysSJwBTv .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-s9ysSJwBTv .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s9ysSJwBTv .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-s9ysSJwBTv .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-s9ysSJwBTv .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-s9ysSJwBTv .form-group {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-s9ysSJwBTv .foot-logo {
    text-align: center !important;
  }
  .cid-s9ysSJwBTv .foot-title {
    text-align: center !important;
  }
  .cid-s9ysSJwBTv .mbr-text {
    text-align: center !important;
  }
  .cid-s9ysSJwBTv .form-group {
    margin: 0;
  }
}
.cid-s9ysSJwBTv .copyright > p {
  text-align: center;
}
.cid-scbDa90ASp {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-scbDa90ASp .mbr-section-subtitle {
  color: #001048;
}
.cid-sbIVHldplP {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-sbIVHldplP .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-sbIVHldplP .video-block {
    width: 100% !important;
  }
}
.cid-sbIW3fFz9c {
  padding-top: 15px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-sbIW3fFz9c H3 {
  color: #232323;
}
.cid-sbIW3fFz9c H1 {
  color: #74ff51;
}
.cid-sbIW3fFz9c .mbr-text,
.cid-sbIW3fFz9c .mbr-section-btn {
  color: #000000;
}
.cid-s9zLfcQYJr {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-s9zLfcQYJr .mbr-section-subtitle {
  color: #232323;
}
.cid-s9zx2GprLC {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #001048;
}
.cid-s9zx2GprLC .mbr-section-subtitle {
  color: #ffffff;
}
.cid-s9zx2GprLC H2 {
  color: #29ff00;
}
.cid-s9zxnAJ3x6 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #001048;
}
.cid-s9zxnAJ3x6 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-s9zxnAJ3x6 H2 {
  color: #29ff00;
}
.cid-scFVL6bDex {
  background: #000000;
  background: linear-gradient(0deg, #000000, #000000);
}
.cid-scFVL6bDex .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-scFVL6bDex figcaption {
  position: relative;
}
.cid-scFVL6bDex figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scFVL6bDex .image-block {
    width: 100% !important;
  }
}
.cid-sO7QhlHzPe {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sO7QhlHzPe .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-sO7QhlHzPe .section-text {
  padding: 2rem 0;
}
.cid-sO7QhlHzPe .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-sO7QhlHzPe .inner-container {
    width: 100% !important;
  }
}
.cid-sdeNoDdD30 {
  background: #ffffff;
  padding-top: 45px;
  padding-bottom: 45px;
}
.cid-sdeNoDdD30 .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-sdeNoDdD30 .video-block {
    width: 100% !important;
  }
}
.cid-scWfFty5c7 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-scWfFty5c7 .mbr-text,
.cid-scWfFty5c7 blockquote {
  color: #767676;
}
.cid-scWfFty5c7 .mbr-text P {
  text-align: center;
}
.cid-scWfFty5c7 .mbr-text {
  color: #cc1414;
}
.cid-scLaHtftss {
  background: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
}
.cid-scLaHtftss .image-block {
  margin: auto;
}
.cid-scLaHtftss figcaption {
  position: relative;
}
.cid-scLaHtftss figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scLaHtftss .image-block {
    width: 100% !important;
  }
}
.cid-scLgwxdvXP {
  background: #000000;
  padding-top: 75px;
  padding-bottom: 75px;
}
.cid-scLgwxdvXP .image-block {
  margin: auto;
}
.cid-scLgwxdvXP figcaption {
  position: relative;
}
.cid-scLgwxdvXP figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scLgwxdvXP .image-block {
    width: 100% !important;
  }
}
.cid-scWinDLyYF {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-scWinDLyYF .progress {
  width: 100%;
}
.cid-scWinDLyYF progress {
  height: 8px;
}
.cid-scWinDLyYF h3 {
  text-align: center;
  font-weight: 300;
}
.cid-scWinDLyYF .mbr-section-subtitle {
  color: #767676;
}
.cid-scWinDLyYF .progress_value {
  position: relative;
}
.cid-scWinDLyYF .progress_elements {
  margin: 0 auto;
}
.cid-scWinDLyYF .title-wrap {
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.cid-scWinDLyYF .progress1 .progressbar-number:before,
.cid-scWinDLyYF .progress2 .progressbar-number:before,
.cid-scWinDLyYF .progress3 .progressbar-number:before,
.cid-scWinDLyYF .progress4 .progressbar-number:before {
  position: absolute;
  right: 15px;
  top: 0;
}
.cid-scWinDLyYF progress[value]::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-scWinDLyYF progress::-webkit-progress-value {
  background: #27ff00;
}
.cid-scWinDLyYF progress[value]::-moz-progress-bar {
  background: #27ff00;
}
.cid-scWinDLyYF progress::-ms-fill {
  background: #27ff00;
}
.cid-scWinDLyYF .progress1 .progressbar-number:before {
  content: '91';
}
.cid-scWinDLyYF .progress2 .progressbar-number:before {
  content: '18';
}
.cid-scWinDLyYF .progress3 .progressbar-number:before {
  content: '90';
}
.cid-scWinDLyYF .progress4 .progressbar-number:before {
  content: '100';
}
.cid-scWinDLyYF .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-scWinDLyYF .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-scWinDLyYF .progress_value span {
  padding-left: 30px;
}
.cid-scWinDLyYF .progressbar-title p,
.cid-scWinDLyYF .progress_value {
  color: #27ff00;
}
.cid-scWinDLyYF .mbr-section-title {
  color: #ffffff;
}
.cid-scLs2Bg3pq {
  background: #000000;
  padding-top: 15px;
  padding-bottom: 30px;
}
.cid-scLs2Bg3pq .image-block {
  margin: auto;
}
.cid-scLs2Bg3pq figcaption {
  position: relative;
}
.cid-scLs2Bg3pq figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scLs2Bg3pq .image-block {
    width: 100% !important;
  }
}
.cid-scFCBqmyAH {
  padding-top: 90px;
  padding-bottom: 15px;
  background-color: #000000;
}
.cid-scFCBqmyAH .mbr-section-subtitle {
  color: #767676;
}
.cid-scFCBqmyAH H2 {
  color: #fff109;
}
.cid-scFCBscf6g {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000000;
}
.cid-scFCBscf6g .card-img {
  background-color: #fff;
}
.cid-scFCBscf6g .card {
  align-self: stretch;
}
.cid-scFCBscf6g .card-box {
  padding: 2rem;
  background-color: #000000;
}
.cid-scFCBscf6g h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-scFCBscf6g p {
  text-align: left;
}
.cid-scFCBscf6g .mbr-text {
  color: #ffffff;
  text-align: center;
}
.cid-scFCBscf6g .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-scFCBscf6g .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-scFCBscf6g .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    -webkit-flex: 0 0 20%;
  }
}
.cid-scFCBscf6g .card-title {
  color: #fff109;
  text-align: center;
}
.cid-scFCBscf6g H4 {
  color: #00bfff;
}
.cid-scFCBw6CqS {
  padding-top: 15px;
  padding-bottom: 45px;
  background-color: #000000;
}
.cid-scFCBw6CqS .card-img {
  background-color: #fff;
}
.cid-scFCBw6CqS .card {
  align-self: stretch;
}
.cid-scFCBw6CqS .card-box {
  padding: 2rem;
  background-color: #000000;
}
.cid-scFCBw6CqS h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-scFCBw6CqS p {
  text-align: left;
}
.cid-scFCBw6CqS .mbr-text {
  color: #ffffff;
  text-align: center;
}
.cid-scFCBw6CqS .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-scFCBw6CqS .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-scFCBw6CqS .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    -webkit-flex: 0 0 20%;
  }
}
.cid-scFCBw6CqS .card-title {
  color: #fff109;
}
.cid-scLsiTtIxk {
  background: #000000;
  padding-top: 15px;
  padding-bottom: 30px;
}
.cid-scLsiTtIxk .image-block {
  margin: auto;
}
.cid-scLsiTtIxk figcaption {
  position: relative;
}
.cid-scLsiTtIxk figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scLsiTtIxk .image-block {
    width: 100% !important;
  }
}
.cid-scVWFUSCwA {
  background: #000000;
  padding-top: 0px;
  padding-bottom: 30px;
}
.cid-scVWFUSCwA .image-block {
  margin: auto;
}
.cid-scVWFUSCwA figcaption {
  position: relative;
}
.cid-scVWFUSCwA figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scVWFUSCwA .image-block {
    width: 100% !important;
  }
}
.cid-scVXcc97NY {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-scVXcc97NY .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-scVXcc97NY .section-text {
  padding: 2rem 0;
}
.cid-scVXcc97NY .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-scVXcc97NY .inner-container {
    width: 100% !important;
  }
}
.cid-scW91ox8m3 {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.cid-scW91ox8m3 .image-block {
  margin: auto;
}
.cid-scW91ox8m3 figcaption {
  position: relative;
}
.cid-scW91ox8m3 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scW91ox8m3 .image-block {
    width: 100% !important;
  }
}
.cid-scW9kSUMAg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-scW9kSUMAg .line {
  background-color: #efefef;
  color: #efefef;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-scW9kSUMAg .section-text {
  padding: 2rem 0;
  text-align: left;
}
.cid-scW9kSUMAg .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-scW9kSUMAg .inner-container {
    width: 100% !important;
  }
}
.cid-scW9kSUMAg .section-text DIV {
  text-align: left;
}
.cid-scW19evqM5 {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 30px;
}
.cid-scW19evqM5 .image-block {
  margin: auto;
}
.cid-scW19evqM5 figcaption {
  position: relative;
}
.cid-scW19evqM5 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scW19evqM5 .image-block {
    width: 100% !important;
  }
}
.cid-scW1e90Fd9 {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 30px;
}
.cid-scW1e90Fd9 .image-block {
  margin: auto;
}
.cid-scW1e90Fd9 figcaption {
  position: relative;
}
.cid-scW1e90Fd9 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scW1e90Fd9 .image-block {
    width: 100% !important;
  }
}
.cid-scFCBDIuQu {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-scFCBDIuQu .mbr-section-subtitle {
  color: #fff32d;
}
.cid-scFCBDIuQu H2 {
  color: #fff109;
}
.cid-scFCBFM6DR {
  padding-top: 60px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #000000, #000000);
}
@media (min-width: 992px) {
  .cid-scFCBFM6DR .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-scFCBFM6DR .mbr-figure {
    padding-top: 3rem;
  }
}
.cid-scFCBFM6DR .mbr-section-title {
  color: #001c3c;
}
.cid-scFCBFM6DR .mbr-text,
.cid-scFCBFM6DR .mbr-section-btn {
  color: #ffffff;
}
.cid-scFCBIqJdH {
  padding-top: 60px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #000000, #000000);
}
@media (min-width: 992px) {
  .cid-scFCBIqJdH .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-scFCBIqJdH .mbr-figure {
    padding-top: 3rem;
  }
}
.cid-scFCBIqJdH .mbr-section-title {
  color: #001c3c;
}
.cid-scFCBIqJdH .mbr-text,
.cid-scFCBIqJdH .mbr-section-btn {
  color: #ffffff;
}
.cid-scFCBLmiHY {
  padding-top: 60px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #000000, #000000);
}
@media (min-width: 992px) {
  .cid-scFCBLmiHY .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-scFCBLmiHY .mbr-figure {
    padding-top: 3rem;
  }
}
.cid-scFCBLmiHY .mbr-section-title {
  color: #001c3c;
}
.cid-scFCBLmiHY .mbr-text,
.cid-scFCBLmiHY .mbr-section-btn {
  color: #ffffff;
}
.cid-scLxiGF1xB {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-scLxiGF1xB .mbr-section-subtitle {
  color: #fff109;
}
.cid-scLxiGF1xB H2 {
  color: #ffffff;
}
.cid-scLszVDIkn {
  background: #000000;
  padding-top: 15px;
  padding-bottom: 30px;
}
.cid-scLszVDIkn .image-block {
  margin: auto;
}
.cid-scLszVDIkn figcaption {
  position: relative;
}
.cid-scLszVDIkn figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scLszVDIkn .image-block {
    width: 100% !important;
  }
}
.cid-scXD0Eg6DW {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-scXD0Eg6DW .mbr-section-subtitle {
  color: #767676;
}
.cid-scXCQ2teYA {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.cid-scXCQ2teYA .image-block {
  margin: auto;
}
.cid-scXCQ2teYA .mbr-figure {
  margin: 0 auto;
}
.cid-scXCQ2teYA figcaption {
  position: relative;
}
.cid-scXCQ2teYA figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scXCQ2teYA .image-block {
    width: 100% !important;
  }
}
.cid-scFCCgazrj {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-scFCCgazrj h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-scFCCgazrj p {
  color: #767676;
  text-align: left;
}
.cid-scFCCgazrj .card-box {
  padding-top: 2rem;
}
.cid-scFCCgazrj .card-wrapper {
  height: 100%;
}
.cid-scFCCioXNq {
  background: #000000;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-scFCCioXNq .image-block {
  margin: auto;
}
.cid-scFCCioXNq figcaption {
  position: relative;
}
.cid-scFCCioXNq figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scFCCioXNq .image-block {
    width: 100% !important;
  }
}
.cid-scLsX97JHl {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-scLsX97JHl .mbr-section-subtitle {
  color: #ff0000;
}
.cid-scLsS5QaQN {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 30px;
}
.cid-scLsS5QaQN .image-block {
  margin: auto;
}
.cid-scLsS5QaQN figcaption {
  position: relative;
}
.cid-scLsS5QaQN figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-scLsS5QaQN .image-block {
    width: 100% !important;
  }
}
.cid-scWmHG23fr {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-scWmHG23fr .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-scWmHG23fr .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-scWmHG23fr .mbr-text {
  color: #000000;
}
.cid-scFCCkLQwr {
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  background-color: #ffffff;
}
.cid-scFCCkLQwr p {
  color: #767676;
}
.cid-scFCCkLQwr .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-scFCCkLQwr .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-scFCCkLQwr .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-scFCCkLQwr .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-scFCCkLQwr .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-scFCCkLQwr .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-scFCCkLQwr H2 {
  color: #ffffff;
}
.cid-scFCCkLQwr H4 {
  color: #001c3c;
}
.cid-scFCCkLQwr .panel-text {
  color: #232323;
}
.cid-scFCCkLQwr H3 {
  color: #000000;
}
.cid-scFCCo4gXM {
  padding-top: 0px;
  padding-bottom: 135px;
  position: relative;
  background-color: #ffffff;
}
.cid-scFCCo4gXM p {
  color: #767676;
}
.cid-scFCCo4gXM .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-scFCCo4gXM .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-scFCCo4gXM .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-scFCCo4gXM .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-scFCCo4gXM .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-scFCCo4gXM .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-scFCCo4gXM H2 {
  color: #ffffff;
}
.cid-scFCCo4gXM H4 {
  color: #001c3c;
}
.cid-scFCCo4gXM .panel-text {
  color: #232323;
}
.cid-sd2rApvMZD {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #000000;
}
@media (max-width: 767px) {
  .cid-sd2rApvMZD .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-sd2rApvMZD .media-wrap .mbr-iconfont-logo {
  font-size: 7rem;
  color: #f36;
}
.cid-sd2rApvMZD .media-wrap img {
  height: 6rem;
}
.cid-sd2rApvMZD .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-sd2rApvMZD .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-sd2rApvMZD .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-sd2rApvMZD .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-sd2rApvMZD .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-sd2rApvMZD .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-sd2rApvMZD .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-sd2rApvMZD .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sd2rApvMZD .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sd2rApvMZD .links {
  color: #ffffff;
}
.cid-sd2rApvMZD .copyright > p {
  color: #ffffff;
}
