@font-face {
   font-family: 'Lato-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Asus/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-02_224731/fonts/Lato-Regular/font.ttf');
}
